@import "tailwindcss";

*{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    padding:0;
    background:#fafafa;
    color:#111827;
    font-family:Inter,sans-serif;
}

button{
    cursor:pointer;
}

a{
    text-decoration:none;
    
}

::selection{
    background:#111827;
    color:white;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#d1d5db;
    border-radius:20px;
}